<div class="container">
  <h2 class="text-primary font-weight-bold">出題者を選択</h2>
<div class="card bg-light shadow p-4">
  <ul class="list-group">
    <% @participants.each do |user| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= user.name %>
        <%= link_to "選択", develop_set_public_quiz_rooms_path(id: @quiz_room.id, questioner_id: user.id), data: { turbo: false }, target: "_self", class: "btn btn-primary" %>
        </li>
    <% end %>
  </ul>
</div>
<div class="text-center mt-3 mb-3">
  <%= link_to "戻る", "javascript:history.back()", class: "btn btn-secondary btn-lg" %>
</div>
</div>
