<div class="container">
  <h2 class="text-primary font-weight-bold">クイズ部屋トップ</h2>
  <div class="d-flex gap-3 mt-4">
    <%= link_to "部屋を作成", make_public_quiz_rooms_path, class: "btn btn-success btn-lg" %>
    <%= link_to "部屋に参加", join_public_quiz_rooms_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
