<div class="container mt-5">
  <h1 class="text-center mb-4">管理者ダッシュボード</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">クイズ管理</div>
        <div class="card-body">
          <p class="card-text">登録されたクイズを確認・編集・削除できます。</p>
          <%= link_to "クイズ管理ページへ", admin_quizs_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card border-success mb-3">
        <div class="card-header bg-success text-white">ユーザー管理</div>
        <div class="card-body">
          <p class="card-text">登録ユーザーの管理ができます。</p>
          <%= link_to "ユーザー管理ページへ", admin_users_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>


</div>
