<div class="container">
<%= link_to "プロフィールを見る", public_user_path(@user), class: "btn btn-info" %>
<%= link_to "プロフィール編集", edit_public_user_path(@user), class: "btn btn-warning" %>
<%= link_to "ユーザー検索", search_public_users_path, class: "btn btn-secondary" %>
</div>
